<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <!-- Navbar -->
    <div th:replace="~{fragments/NavBar :: navbar}"></div>

   <h1 class="text-center">Sono pagina di Creazione Igredienti</h1>
<div class="text-center row justify-content-center">
    <form id="ingredienteForm" th:action="@{/ingredienti/create}" method="post" th:object="${ingrediente}">
           
        <div class="mb-3 ps-2" th:if="${#fields.hasErrors()}">
          <ul class="alert alert-danger">
              <li th:each="error : ${#fields.allErrors()}" th:text="${error}"/>
          </ul>
      </div>   
            <label class="form-label" for="nameIngrediente">Nome Ingrediente</label>
            <input class="form-control" type="text" id="nameIngrediente" th:field="*{nameIngrediente}">
           
        <button type="submit" class="btn btn-primary mt-3">
            Crea nuovo Ingrediente
         </button>
    </form></div>
</div>

    <!-- Script Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

        </div>   
    </form>
   </div>
